<!DOCTYPE <!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <div class="entire-header">
        <div class="leftsection">
          <h1>
            <a href="https://www.etsy.com/?ref=lgo"><img src="https://www.etsy.com/assets/dist/images/etsylogo.20150106184300.png" id="etsy-logo"></a>
          </h1>
        </div>
        <div class="search-bar-wrap">
          <%= form_tag etsy_search_path, method: 'get', :id => 'search-form' do %>
            <%= text_field_tag 'search_query', params[:q], :class => "search-bar",  :placeholder => 'Search for items or shops' %>
            <%= submit_tag 'Search', :class => "search-button" %>
          <% end %>
        </div>
        <div class="browse">
          <a href ="">
            <span class="browseone">
              <span class="browseinner">Browse</span><span class="browsetwo"></span>
            </span>
          </a>
        </div>
        <div class="right-section">
          <li id="help-button">
            <a href="https://www.etsy.com/help?ref=hdr">Help</a>
          </li>
          <li id="register">
            <a href="https://www.etsy.com/join?ref=hdr&from_page=https://www.etsy.com/search">Register</a>
          </li>
          <li id="sign-in">
            <a href="https://www.etsy.com/signin?ref=hdr&from_page=https://www.etsy.com/search">Sign In</a>
          </li>
        </div>
      </div>
    </header>

    <% if @results %>
      <% @results.each do |x| %>
      <ol>

      <div class="itemboxes">
        <li>
        <div class="image">
          <img src=<%= x["Images"][0][url_170x135] %>>
        </div>
        <div class="pricing">
          <%= x["price"] %>
        </div>
        <div class="result-name">
          <%= x["title"] %>
        </div>
        </li>
      </div>
      </ol>
        <% end %>
      <% end %>

    <footer>
      <div class="top-footer">
        <li class="region">
          <a href="https://www.etsy.com/search?q=hello#region-select"><img src="http://agconexus.agconexusinc.netdna-cdn.com/wp-content/uploads/2013/02/Globe.png">United States</a>
        </li>
        <li class="language">
          <a href="https://www.etsy.com/search?q=hello#language-select">English (US)</a>
        </li>
        <li class="currency">
          <a href="https://www.etsy.com/search?q=hello#currency-select">$ USD</a>
        </li>
      </div>
      <div class="lower-footer">
        <li class="copyright">
          <p>&copy 2015 Etsy, Inc.</p>
        </li>
        <li class="terms">
          <a href="https://www.etsy.com/help/article/479/?ref=ftr">Terms</a>
        </li>
        <li class="privacy">
          <a href="https://www.etsy.com/help/article/480/?ref=ftr">Privacy</a>
        </li>
        <li class="copyright">
          <a href="https://www.etsy.com/help/article/482/?ref=ftr">Copyright</a>
        </li>
        <li class="ads">
          <a href="https://www.etsy.com/help/article/3293?ref=ftr">Internet Based-Ads</a>
        </li>
      </div>
    </footer>
  </body>
</html>









<!-- <div class="homebutton">
          <a href="https://www.etsy.com/?ref=hdr" title="Home"><img src="http://www.veryicon.com/icon/png/System/ClearBlack/Black%20Home.png" alt="Home button"></a>
          <span class="textlink">
            <span class="testlinkcopy">
              Home
            </span>
          </span>
        <div class="favoritesbutton"
          <a href=
        </div> -->
